#homePageTestimonial{
	position: relative;
	overflow: hidden;
	-webkit-animation: bounceInLeft 1.5s forwards;
	animation: bounceInLeft 1.5s forwards;
    animation-delay: 0s;
	visibility: visible;
}
@keyframes bounceInLeft {
	0% {
	    opacity: 0;
	    transform: translateX(-200px);
	}
	60% {
	    opacity: 1;
	    transform: translateX(30px);
	}
	80% {
	    transform: translateX(-10px);
	}
	100% {
	    transform: translateX(0);
	}
}
#homePageTestimonial .ts-slide {
    width: 100%;
}
#homePageTestimonial .heading{
	margin: 10% 0 4% 3%;
	font-size: 50px;
	font-weight: 100;
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
	#homePageTestimonial .heading{
		font-size: 45px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#homePageTestimonial .heading{
		font-size: 40px;
	}
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
	#homePageTestimonial .heading{
		font-size: 35px;
	}
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
	#homePageTestimonial .heading{
		font-size: 30px;
	}
}
@media only screen and (max-width: 374px) {
	#homePageTestimonial .heading{
		font-size: 25px;
	}
}
#homePageTestimonial .heading span{
	display: inline;
	font-weight: 700;
}
#homePageTestimonial .ts-slider{
	padding: 0 5% 0 5%;
}
@media only screen and (max-width: 1023px) {
	#homePageTestimonial .ts-slider{
		padding: 0 5% 0 8%;
	}
}
#homePageTestimonial .ts-area{
	border: 1px solid white;
	border-radius: 10px;
	width: 100%;
	cursor: pointer;
	margin-bottom: 1%;
	box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.19);
	flex-direction: column;
	display: flex;
}
#homePageTestimonial .slick-next{
	width: 5%;
	background-color: #D3D3D3;
	cursor: pointer;
	font-size: 10px;
	position: absolute;
    top: -26%;
	right: 0;
	padding: 2%;
	border-radius: 0 30px 30px 0;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.4), 0 0px 18px 0 rgba(0, 0, 0, 0.1);
}
#homePageTestimonial .slick-next:hover{
	background-color: #f41844;
	color: #f41844;
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
	#homePageTestimonial .slick-next {
		top: -22%;
		width: 6%;
		height: 15%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#homePageTestimonial .slick-next {
		top: -18%;
		width: 7%;
		height: 12%;
	}
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
	#homePageTestimonial .slick-next {
		top: -8%;
		width: 10%;
		height: 7%;
	}
}
@media only screen and (max-width: 374px) {
	#homePageTestimonial .slick-next {
		top: -5%;
		width: 11%;
		height: 5%;
	}
}
#homePageTestimonial .slick-prev {
    width: 5%;
    background-color: #D3D3D3;
    cursor: pointer;
    font-size: 5px;
    position: absolute;
    right: 5% !important;
    top: -26%;
    left: auto;
    padding: 2%;
    border-radius: 30px 0 0 30px;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.4), 0 0px 18px 0 rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
	#homePageTestimonial .slick-prev {
		top: -22%;
		width: 6%;
		height: 15%;
		right: 6% !important;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#homePageTestimonial .slick-prev {
		top: -18%;
		width: 7%;
		height: 12%;
		right: 7% !important;
	}
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
	#homePageTestimonial .slick-prev {
		top: -8%;
		width: 10%;
		height: 7%;
		right: 10% !important;
	}
}
@media only screen and (max-width: 374px) {
	#homePageTestimonial .slick-prev {
		top: -5%;
		width: 11%;
		height: 5%;
		right: 10% !important;
	}
}
#homePageTestimonial .slick-prev:before {
	line-height: 0;
	position: absolute;
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
	#homePageTestimonial .slick-prev:before {
		font-size: 18px;
		float: right;
		position: relative;
		left: 20%;
		top: 1px;
	}
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
	#homePageTestimonial .slick-prev:before {
		font-size: 14px;
		float: right;
		position: relative;
		right: 10%;
		top: 1px;
	}
}
@media only screen and (max-width: 374px) {
	#homePageTestimonial .slick-prev:before {
		font-size: 16px;
		float: right;
		position: relative;
		right: 10%;
		top: 1px;
	}
}
#homePageTestimonial .slick-next:before {
	line-height: 0;
	position: absolute;
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
	#homePageTestimonial .slick-next:before {
		font-size: 18px;
		float: right;
		position: relative;
		left: 0;
		top: 3%;
	}
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
	#homePageTestimonial .slick-next:before {
		font-size: 14px;
		float: right;
		position: relative;
		left: auto;
		top: 3%;
		right: 10%;
	}
}
@media only screen and (max-width: 374px) {
	#homePageTestimonial .slick-next:before {
		font-size: 16px;
		float: right;
		position: relative;
		left: auto;
		top: 6%;
		right: 10%;
	}
}
#homePageTestimonial .slick-prev:active, .slick-next:active {
	text-decoration: blink;
	-webkit-animation-name: blinker;
	animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}
@keyframes blinker {
	from {opacity: 0.2;}
	to {opacity: 0.0;}
}
#homePageTestimonial .slick-prev:hover{
	background-color: #f41844;
	color: #f41844;
}
#homePageTestimonial .slides{
	padding: 0 5%;
	float: left;
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
	#homePageTestimonial .slides{
		height: auto;
		padding: 0 0 0 4%;
	}
}
@media only screen and (min-width: 375) and (max-width: 767px) {
	#homePageTestimonial .slides{
		height: 490px;
	}
}
@media only screen and (max-width: 374px) {
	#homePageTestimonial .slides{
		height: 600px;
	}
}
#homePageTestimonial .ts-img-1{
	height: auto;
	width: 100%;
	margin: 0 auto;
	display: flex;
	margin-top: 20%;
}
@media only screen and (min-width: 1199) and (max-width: 1321px) {
	#homePageTestimonial .ts-img-1{
		margin-top: 45%;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
	#homePageTestimonial .ts-img-1{
		margin-top: 52%;
	}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	#homePageTestimonial .ts-img-1{
		margin-top: 5%;
		height: 15em;
	}
}
#homePageTestimonial .slides:hover .ts-img-1{
	border: 5px solid #f41844;
}
#homePageTestimonial .ts-area p{
	font-size: 19px;
	margin: 10% 0 0 0;
	line-height: 1.5;
	color: black;
	text-align: left;
	position: relative;
	top: -8%;
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
	#homePageTestimonial .ts-area p{
		font-size: 18px;
		top: -12%;
		margin: 27% 0 0 0;
	}
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
	#homePageTestimonial .ts-area p{
		margin-top: 5%;
		font-size: 16px;
	}
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
	#homePageTestimonial .ts-area p{
		margin: 107% 0 0 4%;
		font-size: 16px;
	}
}
#homePageTestimonial .ts-img-2{
	margin: 15% 0 0 59%;
	float: left;
}
@media only screen and (min-width: 1326px) {
	#homePageTestimonial .ts-img-2{
		margin: 10% 0 0 58%;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1325px) {
	#homePageTestimonial .ts-img-2{
		margin: 6% 0 0 44%;
	}
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
	#homePageTestimonial .ts-img-2{
		margin: 5% 0 0 5%;
	}
}
@media only screen and (max-width: 374px) {
	#homePageTestimonial .ts-img-2{
		margin: 5% 0 0 3%;
	}
}
#homePageTestimonial .ts-text-1{
	font-size: 15px;
	font-weight: 900;
	color: #a0a0a0;
	position: relative;
	top: 65%;
	left: 5%;
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
	#homePageTestimonial .ts-text-1{
		top: 45%;
	}
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
	#homePageTestimonial .ts-text-1{
		top: 40%;
	}
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
	#homePageTestimonial .ts-text-1{
		top: 25%;
	}
}
@media only screen and (max-width: 374px) {
	#homePageTestimonial .ts-text-1{
		top: 35%;
	}
}
#homePageTestimonial .slides:hover .ts-text-1 {
	color: #f41844;
}
#homePageTestimonial .ts-text-2{
	font-weight: 100;
	font-size: 14px;
	float: right;
	color: #ab9798;
	position: relative;
	top: 65%;
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
	#homePageTestimonial .ts-text-2{
		top: 45%;
	}
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
	#homePageTestimonial .ts-text-2{
		top: -120%;
		left: 130%;
	}
}
@media only screen and (max-width: 374px) {
	#homePageTestimonial .ts-text-2{
		display: block;
		width: 100%;
		top: -120%;
		left: 175%;
	}
}
#homePageTestimonial .hr-line{
	padding: 6% 4% 0 4%;
}
#homePageTestimonial .hr-1{
	border: 6px solid #ff0000;
    height: 2px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#homePageTestimonial .hr-1{
		margin: 0 auto;
	}
}
#homePageTestimonial .hr-line span{
	position: relative;
    bottom: 2.7em;
	padding: 0 5%;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#homePageTestimonial .hr-line span{
		bottom: 1.7em;
	}
}
#homePageTestimonial .hr-2{
	border: 10px solid #ff0000;
    height: 2px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}