#About_header{
    position: relative;
    overflow: visible;
	background-image: url('../../../images/newyork.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 25%;
}
@media only screen and (max-width: 1023px) {
	#About_header{
		background-image: none;
	}
}
#About_header .bottom-header{
	position: absolute;
	overflow: visible;
	background: transparent;
	width: 100%;
}
@media only screen and (max-width: 1023px) {
	#About_header .bottom-header{
		background-image: url('../../../images/newyork.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		padding-bottom: 18%;
	}
}
#About_header .bottom-header h1{
	color: #000;
	margin-top: 8%;
	text-align: center;
	text-shadow: 0em 0em 0.4em rgba(255,255,255,0.6);
	-webkit-animation: zoomIn 1s forwards;
	animation: zoomIn 1s forwards;
    animation-delay: 0s;
	visibility: visible;
}
@keyframes zoomIn {
	from {
	    transform: scale(0);
	}
	
	to {
	    transform: scale(1);
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1325px) {
	#About_header .bottom-header h1{
		margin-top: 0;
	}
}
@media only screen and (min-width: 375px) and (max-width: 1023px) {
	#About_header .bottom-header h1{
		margin-top: 10%;
	}
}
@media only screen and (max-width: 374px) {
	#About_header .bottom-header h1{
		margin-top: 15%;
	}
}